.contact {
  --font-size-title: clamp(4rem, calc(2.54vw + 2.95rem), 6rem);
  --font-size-links: clamp(1rem, calc(0.952vw + 0.607rem), 1.75rem);
  --icon-size: clamp(50px, calc(3.97vw + 1.48rem), 100px);

  text-align: center;
}

.contact h1 {
  margin: 10rem auto 0;
  font-size: var(--font-size-title);
}

.links {
  margin-top: 10rem;

  display: flex;
  justify-content: center;
  gap: 1.75rem;

  font-size: var(--font-size-links);
}

.links a {
  color: inherit;
  text-decoration: inherit;
}

.links img {
  height: var(--icon-size);
  width: var(--icon-size);
}

@media screen and (prefers-reduced-motion: no-preference) {
  .links a {
    transition: scale 0.25s ease-out;
  }

  .links a:hover {
    scale: 1.4;
  }
}
