.home {
  --font-size-name: clamp(4rem, calc(5.07vw + 1.9rem), 8rem);
  --font-size-subtitle: clamp(1.75rem, calc(1.27vw + 1.23rem), 2.75rem);
  --font-size-bio: clamp(1rem, calc(0.635vw + 0.738rem), 1.5rem);

  width: min(90%, 50rem);
  margin-inline: auto;
}

.name-and-job {
  margin: 8.25rem auto 0;
  text-align: center;
}
.name-and-job h1 {
  margin-bottom: 0.75rem;
  font-size: var(--font-size-name);
}
.name-and-job h2 {
  font-size: var(--font-size-subtitle);
  color: var(--color-contrast-3);
}

.bio {
  margin: 13.75rem 0 0;
  letter-spacing: 0.0625rem;
}
.bio h4 {
  margin-bottom: 0.25rem;
  font-size: var(--font-size-subtitle);
  color: var(--color-contrast-2);
}
.bio p {
  font-size: var(--font-size-bio);
  color: var(--color-contrast-3);
}
