.carousel {
  position: relative;
}

.carousel img:not(.arrow) {
  border-radius: 10%;
  border: 1px solid var(--color-contrast-3);
}

.carousel .arrow {
  top: 50%;
  z-index: 1;
  width: 20%;
  aspect-ratio: 1;

  position: absolute;
  translate: 0 -50%;
  cursor: pointer;
}

.carousel .next.arrow {
  right: 0;
}

.carousel .back.arrow {
  left: 0;
  rotate: 180deg;
}

@media screen and (prefers-reduced-motion: no-preference) {
  .carousel .arrow {
    transition: scale 0.2s;
  }
  .carousel .arrow:hover {
    scale: 1.5;
  }
}
