.menu-icon {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  scale: 0.6;
  z-index: 1;
}
.menu-icon .line {
  fill: none;
  stroke: var(--color-blue);
  stroke-width: 3;
}
.menu-icon .line1,
.menu-icon .line3 {
  stroke-dasharray: 60 207;
}
.menu-icon .line2 {
  stroke-dasharray: 60 60;
}
.menu-icon.open .line1,
.menu-icon.open .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
}
.menu-icon.open .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
}

@media screen and (prefers-reduced-motion: no-preference) {
  .menu-icon .line {
    transition: stroke-dasharray 0.4s cubic-bezier(0.4, 0, 0.2, 1) 0.05s,
      stroke-dashoffset 0.4s cubic-bezier(0.4, 0, 0.2, 1) 0.05s;
  }
}
