.robotics {
  --font-size-title: clamp(4rem, calc(1.9vw + 3.21rem), 5.5rem);
  --font-size-subtitle: clamp(2rem, (1.27vw + 1.48rem), 2.5rem);
  --font-size-robotics: clamp(1.25rem, (0.318vw + 1.11rem), 1.5rem);

  width: min(85%, 70rem);
  margin: 0 auto 2rem auto;
  font-size: var(--font-size-robotics);
}

.robotics h1 {
  font-size: var(--font-size-title);
  margin: var(--nav-height) auto 1rem auto;
  text-align: center;
}

.robotics h4 {
  font-size: var(--font-size-subtitle);
  color: var(--color-contrast-2);
}
.robotics p {
  color: var(--color-contrast-3);
  margin-block: 0.5rem;
  margin-left: 1rem;
}

.robotics .img-box {
  margin-top: var(--font-size-robotics);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
.robotics .img-box img {
  width: min(340px, 80%);
}
