.projects {
  --font-size-title: clamp(4rem, calc(2.54vw + 2.95rem), 6rem);
  --font-size-subtitle: clamp(2.25rem, calc(0.635vw + 1.99rem), 2.75rem);
  --font-size-description: clamp(1rem, calc(0.635vw + 0.738rem), 1.5rem);
  --font-size-tools: clamp(1.25rem, calc(0.635vw + 0.988rem), 1.75rem);

  --card-border-radius: 1rem;

  width: 90%;
  margin: 2rem auto;

  display: flex;
  flex-direction: column;
}

.projects h1 {
  margin-block: 2rem 1rem;
  text-align: center;

  font-size: var(--font-size-title);
}

.projects h2 {
  text-align: center;
  font-size: var(--font-size-subtitle);
  color: var(--color-contrast-3);
}

.card-box {
  max-width: 100%;
  display: grid;
  gap: 1rem;
}

.card {
  max-width: 100%;
  border: 1px solid var(--color-contrast-3);
  border-radius: var(--card-border-radius);
}

.card-bottom {
  position: relative;
}

.card img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  border-radius: var(--card-border-radius) var(--card-border-radius) 0 0;
}

.card h4 {
  margin: 0 0.5rem;
  font-size: var(--font-size-subtitle);
}

.card .description {
  margin: 0 1rem;
  font-size: var(--font-size-description);
  color: var(--color-contrast-3);
}

.tools {
  margin: 0.25rem 0.5rem 0.5rem;

  display: flex;
  gap: 0.25rem;
  flex-wrap: wrap;

  font-size: var(--font-size-tools);
}

.tools span {
  padding: 0.25rem;
  border: 1px solid var(--color-contrast-3);
  border-radius: 0.75rem;
  color: var(--color-contrast-3);
}
.tools span:hover {
  color: var(--color-blue-highlight);
  border-color: var(--color-blue-highlight);
}

.link {
  position: absolute;
  right: 0.125rem;
  top: 0.125rem;
}
.link img {
  width: 30px;
  height: 30px;
}
.link + .link {
  translate: -100% 0;
}

@media screen and (prefers-reduced-motion: no-preference) {
  .link {
    transition: scale 0.25s ease-out;
  }
  .link:hover {
    scale: 1.2;
  }

  .tools span {
    transition: color 0.5s, border-color 0.5s, scale 0.5s, background-color 0.2s;
  }
  .tools span:hover {
    scale: 1.1;
    background-color: var(--color-neutral-1);
  }
}

@media screen and (min-width: 1000px) {
  .card-box {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1500px) {
  .card-box {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
