:root {
  /* Primary Neutrals, Descending Theme Contrast */
  --color-neutral-1: #1a1a1a;
  /* Contrast Neutrals, Ascending Theme Contrast */
  --color-contrast-1: #fff;
  --color-contrast-2: #e8e8e8;
  --color-contrast-3: #a8a8a8;
  /* Base + CTA Colors */
  --color-blue: hsl(217, 89%, 61%);
  --color-blue-highlight: hsl(217, 89%, 70%);

  background-color: var(--color-neutral-1);
  color: var(--color-contrast-1);
  font-family: "Inter", sans-serif;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  margin-top: 5rem;
}

#root > .background {
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0.2;

  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;

  pointer-events: none;
}

#root > .main > section {
  width: min(90%, 50rem);
  margin-inline: auto;
}

#root::before .main {
  filter: blur(1rem);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

.faded {
  filter: blur(0.45rem);
  opacity: 0.4;
}

@media screen and (prefers-reduced-motion: no-preference) {
  .main,
  #root::before {
    transition: filter 0.4s ease-out, opacity 0.4s ease-out;
  }
}
