:root {
  /* Primary Neutrals, Descending Theme Contrast */
  --color-neutral-1: #1a1a1a;
  /* Contrast Neutrals, Ascending Theme Contrast */
  --color-contrast-1: #fff;
  --color-contrast-2: #e8e8e8;
  --color-contrast-3: #a8a8a8;
  /* Base + CTA Colors */
  --color-blue: hsl(217, 89%, 61%);
  --color-blue-highlight: hsl(217, 89%, 70%);

  /* Formatting and Other Global Variables */
  --nav-height: 5rem;

  background-color: var(--color-neutral-1);
  color: var(--color-contrast-1);
  font-family: "Inter", sans-serif;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

.faded {
  filter: blur(0.45rem);
  opacity: 0.4;
}

.background-img {
  height: 100%;
  width: 100%;
  object-fit: cover;

  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;

  opacity: 0.2;
}

@media screen and (prefers-reduced-motion: no-preference) {
  main,
  .background-img {
    transition: filter 0.4s ease-out, opacity 0.4s ease-out;
  }
}
